@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

h1 {
  margin: 0px;
  font-family: "Sriracha", cursive;
}
h2 {
  margin: 0px;
}

h3 {
  margin: 0px;
}

h4 {
  margin: 0px;
}

h5 {
  margin: 0px;
}

h6 {
  margin: 0px;
}
.overlay {
  visibility: hidden;
  width: 0vh;
  height: 0vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: all ease-in-out 500ms;
}
.nav {
  z-index: 4;
}
.overlay.is-active {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  cursor: pointer;
  visibility: inherit;
}

.leftnav {
  width: 0;
  transition: all ease 500ms;
  visibility: hidden;
  height: 100vh;
  position: fixed;
}

.leftnav.is-active {
  width: 50vh;
  height: 100vh;
  position: fixed;
  transition: all ease 500ms;
  visibility: inherit;
}

.leftnav > * {
  transition: all ease 500ms;
  visibility: hidden;
  opacity: 0;
}
.leftnav.is-active > * {
  transition: all ease 500ms;
  visibility: inherit;
  opacity: 1;
}
.topnav {
  height: 3rem;
  padding: 0px !important;
  top: 0 !important;
  position: fixed !important;
  width: 100%;
}
.toggle-icon {
  transition: all ease 500ms;
}

.toggle-icon.is-active {
  transition: all ease 500ms;
  transform: rotate(90deg);
}

.toggle-arrow {
  transition: all ease 500ms;
  transform: translateX(-2rem);
  visibility: hidden;
  opacity: 0;
}

.toggle-arrow.is-active {
  transition: all ease 500ms;
  transform: translateX(2rem);
  visibility: inherit;
  opacity: 1;
}

.cs-card-body {
  transition: all ease 500ms;
  height: 0vh;
  visibility: hidden;
  opacity: 0;
}

.cs-card-body.is-active {
  transition: all ease 500ms;
  height: 30vh;
  visibility: inherit;
  opacity: 1;
}
.container {
  max-width: 90% !important;
}
.page {
  display: block;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background: no-repeat center fixed;
}

.input-group {
  align-items: center;
}
.card {
  word-wrap: wrap auto;
}
.dialog {
  display: flex;
  width: 40rem;
  height: 20rem;
  margin: 0 auto;
  padding: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  flex-direction: column;
  z-index: 4;
}

.dialogBtn {
  margin-bottom: 1rem;
  cursor: pointer;
  border: none;
  width: 2rem;
  height: 2rem;
  font-weight: bold;
  align-self: flex-end;
}
.dialogText {
  display: flex;
  margin: auto;
}
.dialogOptions {
  display: flex;
  bottom: 0;
}
.footer {
  bottom: 0vh;
  position: absolute;
}
@media screen and (min-width: 200px) and (max-width: 360px) {
  :root {
    font-size: 6px;
  }
  .image-container {
    max-width: 30px;
  }
}
@media screen and (min-width: 360px) and (max-width: 500px) {
  :root {
    font-size: 7px;
  }
  .image-container {
    max-width: 50px;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  :root {
    font-size: 12px;
  }
  .image-container {
    max-width: 150px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1400px) {
  :root {
    font-size: 12px;
  }
  .image-container {
    max-width: 250px;
  }
}
@media screen and (min-width: 1400px) {
  :root {
    font-size: 16px;
  }
  .image-container {
    max-width: 300px;
  }
}
